{% extends "layout.html" %}
{% block title %}New Paste{% endblock %}
{% block head %}
{% call super() %}
{% endblock %}
{% block content %}
	<form id='pasteform' method='post' enctype='multipart/form-data' action='/newpaste'>
		<div id='content'>
			<textarea id='pastebox' name='paste' form='pasteform' dirname='pastebox.dir' autocomplete='off' spellcheck='false' autofocus required></textarea>
		</div>

		<div id='controls'>

			<select id='lexerselect' name='lexer' class='dropdown control-item'>
				<option value='auto' selected>Autodetect</option>
				<option class='marker' disabled>Common Lexers</option>

				<option class='marker' disabled>All Lexers</option>

			</select>
			<select id='ttlselect' name='ttl' class='dropdown control-item'>
				<option value='1' selected>1 hour</option>

			</select>
			<input id='burninput' type='number' name='burn' min='{{ cfg.burn_max.unwrap() }}' max='{{ cfg.burn_max.unwrap() }}' placeholder='Burn' class='control-time'>
			<input id='pastebutton' class='control-item' type='submit' value='Paste'>

		</div>
	</form>
{% endblock %}
