{% extends "layout.html" %}
{% block head %}
{% call super() %}
<script src="/static/scripts/util.js"></script>
{% endblock %}
{% block title %}Paste{% endblock %}
{% block content %}
<div id='info'>
	<div id='raw'><a href="?raw">raw</a></div>
	<div class='pipediv'>|</div>
	<div id='wrap'><a href="">wrap</a></div>
	<div class='pipediv'>|</div>
	<div id='dir'><a href="?d">dir</a></div>
	<div class='pipediv'>|</div>
	<div id='indent'><a href="">indent</a></div>
	<div class='pipediv'>|</div>
	<div id='lexer'>  </div>
	<div class='pipediv'>|</div>
	<div id='lines'>  lines</div>
	<div class='pipediv'>|</div>
	<div id='sloc'>  sloc </div>
	<div class='pipediv'>|</div>
	<div id='size'>  kB</div>

</div>
<div id='content'>
	<ol>

	</ol>
</div>
{% endblock %}
